<div class="modal-info" style="width:150%;" ng-init="getVle()">
    <div class="modal-header">
      <h3 class="modal-title">
        Export VLE Details
        <label class="pull-right" >
          <input type="checkbox" ng-model="selectAll" ng-change="changeSelectAll('check')"  name="selectAll"/> Select All
        </label>
      </h3>
  </div>
  <div class="modal-body" ng-init="modalInit()">
    <div class="row">
      <div class="checkbox col-lg-6 col-md-6 col-sm-6" ng-repeat="(key, value) in vleExport" >
        <label>
          <input type="checkbox" ng-model="value"> {{key}}
        </label>
      </div>

    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()">Submit</button>
      <button class="btn btn-warning pull-left" type="button" ng-click="cancel()">Cancel</button>
  </div>
</div>
