<section class="content">
  <p class="login-box-msg pull-left">
    <h3>Change Your Password Here</h3></p>
  <div class="login-box">
    <form name="resetPassword" class="m-b-30">
      <div class="login-box-body">
        <div class="form-group has-feedback" ng-class="{'has-error':resetPassword.password.$touched && resetPassword.password.$invalid}">
          <input type="password" id="oldPassword" class="form-control" placeholder="Enter Old Password" ng-model="changePass.oldPassword" name="password" required ng-pattern="/^(?=.*?[a-zA-Z0-9])(?=.*?[#?!@$%^&*-]).{4,}$/">
          <span class="glyphicon form-control-feedback" ng-click="isViewPassword('oldPwLock','oldPassword')"><i id="oldPwLock" class="fa fa-lock" ></i></span>

          <span class="help-block" ng-show="resetPassword.password.$error.required && resetPassword.password.$touched">Please enter old password</span>
          <span class="help-block" ng-show="resetPassword.password.$error.pattern && resetPassword.password .$touched">Password must be 4 characters long having atleast one special character</span>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error':resetPassword.new_password.$touched && resetPassword.new_password.$invalid}">
          <input type="password" id="newPassword" class="form-control" placeholder="Enter New Password" ng-model="changePass.newPassword" name="new_password" required ng-pattern="/^(?=.*?[a-zA-Z0-9])(?=.*?[#?!@$%^&*-]).{4,}$/">
          <span class="glyphicon form-control-feedback" ng-click="isViewPassword('newPwLock','newPassword')"><i id="newPwLock" class="fa fa-lock" ></i></span>
          <span class="help-block" ng-show="resetPassword.new_password.$error.required && resetPassword.new_password.$touched">Please enter new password</span>
          <span class="help-block" ng-show="resetPassword.new_password.$error.pattern && resetPassword.new_password .$touched">Password must be 4 characters long having atleast one special character</span>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error':(resetPassword.re_password.$touched && resetPassword.re_password.$invalid) || (showPasswordMisMatch && resetPassword.re_password.$touched)}">
          <input type="password" id="repassword" class="form-control" placeholder=" Reenter new Password" ng-model="changePass.Repassword" name="re_password" ng-change="checkPassword(changePass.newPassword, changePass.Repassword)" required ng-pattern="/^(?=.*?[a-zA-Z0-9])(?=.*?[#?!@$%^&*-]).{4,}$/">
          <span class="glyphicon form-control-feedback" ng-click="isViewPassword('rePwLock','repassword')"><i id="rePwLock" class="fa fa-lock" ></i></span>
          <!--  <span class="glyphicon form-control-feedback"><i class="fa fa-eye"></i></span>  -->
          <span class="help-block" ng-show="resetPassword.re_password.$error.required && resetPassword.re_password.$touched">Please Re-enter new Password</span>
          <span class="help-block" ng-show="showPasswordMisMatch && resetPassword.re_password.$touched">Password doesn't match</span>
        </div>
      </div>


      <div class="box-footer">
        <button type="submit" class="btn btn-default" ui-sref="user-profile">Back</button>
        <button type="submit" ng-click="changePassword(changePass)" class="btn btn-info pull-right">Next</button>
      </div>
    </form>



  </div>
  </sectiocn>
