<section class="content-header">
	<h3>User Profile</h3>
	<!-- <div class="btn-group pull-right">
                  <button type="button" class="btn btn-info btn-flat">Action</button>
                  <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div> -->
</section>
<section class='content'>	     	
   		<div class="row">
          	<div class="col-xs-8">
         		
         		<div class="box box-info col-xs-10 col-md-offset-1"> 
         			<div class="box-body">
		              	<ul class="list-group">
							<li class="list-group-item">
							  <b>Incorporation Date:</b> <a class="pull-right">23-07-17</a>
							</li>
							<li class="list-group-item">
							  <b>PAN No:</b> <a class="pull-right">543132465744</a>
							</li>
							<li class="list-group-item">
							  <b>GST No</b> <a class="pull-right">157864534687</a>
							</li>
							<li class="list-group-item">
							  <b>TAN No</b> <a class="pull-right">157864534687</a>
							</li>
							<li class="list-group-item">
							  <b>Accessing Office</b> <a class="pull-right">157864534687</a>
							</li>
							<li class="list-group-item">
							  <b>Paid up Share Capital</b> <a class="pull-right">157864534687</a>
							</li>
							<li class="list-group-item">
							  <b>Authorized Shared Capital</b> <a class="pull-right">157864534687</a>
							</li>
							<li class="list-group-item">
							  <b>Auditor</b><a href="#" class="pull-right">Sarah Ross</a>
							</li>
		        		</ul>
		        	</div>
		        </div>                   
         	</div>
      	</div>					
</section>