<section class="content" ng-init="vleRegdInit()">

    <div class="row">
        <div class="col-xs-10 col-md-offset-1">
          <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                <li ng-class="{'active':active_tab == 'BD'}" ><a ng-click="tabChange('BD')" href="" data-toggle="tab"><b>Basic Details</b></a></li>
                <li ng-class="{'active':active_tab == 'OD'}"><a ng-click="tabChange('OD')" href="" data-toggle="tab"><b>Other Details</b></a></li>
              </ul>
            <div class="tab-content">
              <div class="tab-pane" id="BD" ng-class="{'active':active_tab == 'BD'}">
                <form class="form-horizontal" name="basic">
                <div class="box box-info">
                  <div class="box-header with-border">
                    <h3 class="box-title">Please Enter Your Basic Details</h3>
                  </div>
                  <div class="box-body">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="form-group p-l-20" ng-class="{'has-error':basic.district.$touched && basic.district.$invalid}">
                            <label for="uname" class="control-label col-sm-4">District:</label>
                            <div class="col-xs-8">
                              <select class="form-control" name="district" ng-model="vle.district" ng-change="getBlocks(vle.district)" required>
                                <option ng-value="districts._id" ng-repeat="districts in districtList">{{districts.name}}</i></option>
                              </select>
                            </div>
                        </div>
                        <div class="form-group has-feedback" ng-class="{'has-error':basic.vleName.$touched && basic.vleName.$invalid}">
                          <label for="vleName" class="col-sm-4 control-label">VLE Name:</label>
                          <div class="col-sm-8">
                            <input type="text" name="vleName" ng-model="vle.name" class="form-control" placeholder="VLE Name" required ng-pattern="/^[A-Za-z\s]+$/">
                            <span class="help-block" ng-show="basic.vleName.$error.required && basic.vleName.$touched">VLE Name is required</span>
                            <span class="help-block" ng-show="basic.vleName.$error.pattern && basic.vleName.$touched">Please Enter Valid VLE Name(Only Alphabets Allowed)</span>
                          </div>
                        </div>
                        <div class="form-group has-feedback" ng-class="{'has-error':basic.cscId.$touched && basic.cscId.$invalid}">
                          <label for="cscId" class="col-sm-4 control-label">CSC ID:</label>
                          <div class="col-sm-8">
                            <input type="text" name="cscId" ng-model="vle.cscId" class="form-control" placeholder="CSC ID" required>
                            <span class="help-block" ng-show="basic.cscId.$error.required && basic.cscId.$touched">CSC ID is required</span>
                            <!-- <span class="help-block" ng-show="basic.vleName.$error.pattern && basic.vleName.$touched">Please Enter Valid VLE Name(Only Alphabets Allowed)</span> -->
                          </div>
                        </div>
                        <div class="form-group has-feedback" ng-controller="DatePickerCtrl">
                          <label for="lname" class="col-sm-4 control-label">DOB:</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" name="dob" placeholder="01 Jan, 2017" ng-model="vle.dob" datepicker-popup="dd MMM, yyyy" datepicker-options="dateOptions"  is-open="opened"  max-date="dt"  ng-click="open1($event)" close-text="Close"/>
                            </div>
                        </div>
                        <div class="form-group p-l-20" ng-class="{'has-error':basic.religion.$touched && basic.religion.$invalid}">
                            <label for="uname" class="control-label col-xs-4 pull-left">Religion:</label>
                            <div class="col-xs-8">
                              <select class="form-control" name="religion" ng-model="vle.religion" required>
                                <option value=""><i class="fa fa-sort-desc">Religion</i></option>
                                <option value="Yes">Hindu</option>
                                <option value="No">Muslim</option>
                              </select>
                            </div>
                        </div>
                        <div class="form-group has-feedback" ng-class="{'has-error':basic.mobile.$touched && basic.mobile.$invalid}">
                          <label for="pass" class="col-sm-4 control-label">Mobile:</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="mobile" ui-mask="999-999-9999" placeholder="xxx-xxx-xxxx" ng-model="vle.mobile" required>
                            <!-- <input type="text" class="form-control" name="mobile" ng-model="user.mobile" placeholder="Mobile" required ng-pattern="/^[0-9]{10,10}$/"> -->
                            <span class="help-block" ng-show="basic.mobile.$error.required && basic.mobile.$touched">Mobile is required</span>
                          </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':basic.user_email.$touched && basic.user_email.$invalid}">
                            <label for="lname" class="col-sm-4 control-label">Email:</label>
                          <div class="col-sm-8">
                              <input type="email" name="user_email" ng-model="vle.email" class="form-control" placeholder=" Email " required ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,7}$/">
                              <span class="help-block" ng-show="basic.user_email.$error.required && basic.user_email.$touched">Email is required</span>
                               <span class="help-block" ng-show="basic.user_email.$error.pattern && basic.user_email.$touched">Please Enter Valid Email</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="checkbox col-xs-10">
                          <label >
                            <input type="checkbox" name="urban" ng-model="vle.urban"> I belong to Urban area
                          </label>
                        </div>
                        <div class="form-group m-l-20" ng-class="{'has-error':basic.block.$touched && basic.block.$invalid}" ng-hide="vle.urban">
                            <label for="uname" class="control-label col-xs-4 pull-left">Block:</label>
                            <div class="col-xs-8">
                                <select class="form-control" name="block" ng-model="vle.block" ng-change="getGps(vle.block)" required>
                                  <option ng-value="blocks._id" ng-repeat="blocks in blockList" >{{blocks.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-l-20" ng-class="{'has-error':basic.GP.$touched && basic.GP.$invalid}" ng-hide="vle.urban">
                        <label for="uname" class="control-label col-xs-4 pull-left">Gram Panchayat</label>
                          <div class="col-xs-8">
                            <select class="form-control" name="GP" ng-model="vle.gp" required>
                              <option ng-value="gps._id" ng-repeat="gps in gpList">{{gps.name}}</option>

                            </select>
                          </div>
                        </div>
                        <div class="form-group m-l-20" ng-class="{'has-error':basic.village.$touched && basic.village.$invalid}" ng-hide="vle.urban">
                        <label for="uname" class="control-label col-xs-4 pull-left">Village</label>
                          <div class="col-xs-8">
                            <select class="form-control" name="village" ng-model="vle.village" required>
                              <option value=""><i class="fa fa-sort-desc">Village</i></option>
                              <option value="2015-2016">Bali chatri</option>
                              <option value="2016-2017">Kanjia</option>
                              <option value="2017-2018">Adampur</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group m-l-20" ng-class="{'has-error':basic.municipalityOrnac.$touched && basic.municipalityOrnac.$invalid}" ng-show="vle.urban">
                        <label for="uname" class="control-label col-xs-4 pull-left">Municipality/NAC</label>
                          <div class="col-xs-8">
                            <select class="form-control" name="municipalityOrnac" ng-model="vle.urbanType" required>
                              <option value=""><i class="fa fa-sort-desc">Municipality/NAC</i></option>
                              <option value="Municipality">Municipality</option>
                              <option value="NAC">NAC</option>
                              <option value="Others">Others</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group m-l-20" ng-class="{'has-error':basic.wardNo.$touched && basic.wardNo.$invalid}" ng-show="vle.urban">
                        <label for="uname" class="control-label col-xs-4 pull-left">Ward No.</label>
                          <div class="col-xs-8">
                              <input type="text" class="form-control" name="wardNo" numbers-only ng-model="vle.ward" >
                            <!-- <select class="form-control" name="wardNo" ng-model="vle.ward" required>
                              <option value=""><i class="fa fa-sort-desc">Select Ward No.</i></option>
                              <option value="2015-2016">01</option>
                              <option value="2016-2017">02</option>
                              <option value="2017-2018">03</option>
                            </select> -->
                          </div>
                        </div>
                        <div class="form-group m-l-20" ng-class="{'has-error':basic.gender.$touched && basic.gender.$invalid}">
                        <label for="uname" class="control-label col-xs-4 pull-left">Gender</label>
                          <div class="col-xs-8">
                            <select class="form-control" name="gender" ng-model="vle.gender" required>
                              <option value=""><i class="fa fa-sort-desc">Select your gender.</i></option>
                              <option value="Male">Male</option>
                              <option value="Female">Female</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group m-l-20" ng-class="{'has-error':basic.caste.$touched && basic.caste.$invalid}">
                        <label for="uname" class="control-label col-xs-4 pull-left">Caste</label>
                          <div class="col-xs-8">
                            <select class="form-control" name="caste" ng-model="vle.caste" required>
                              <option value=""><i class="fa fa-sort-desc">Caste</i></option>
                              <option value="General">General</option>
                              <option value="SC">SC</option>
                              <option value="ST">ST</option>
                              <option value="OBC">OBC</option>
                              <option value="Others">Others</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group has-feedback" ng-class="{'has-error':basic.altMobile.$touched && basic.altMobile.$invalid}">
                          <label for="pass" class="col-sm-4 control-label">Alternative mobile:</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="altMobile" ui-mask="999-999-9999" placeholder="xxx-xxx-xxxx" ng-model="vle.altMobile">
                            <!-- <input type="text" class="form-control" name="mobile" ng-model="user.mobile" placeholder="Mobile" required ng-pattern="/^[0-9]{10,10}$/"> -->
                            <!-- <span class="help-block" ng-show="basic.altMobile.$error.required && basic.altMobile.$touched">Mobile is required</span> -->
                          </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':basic.user_digi_email.$touched && basic.user_digi_email.$invalid}">
                                  <label for="lname" class="col-sm-4 control-label"> Digi Mail:</label>
                          <div class="col-sm-8">
                            <input type="email" name="user_digi_email" ng-model="vle.digiMail" class="form-control" placeholder=" Digi mail "  ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,7}$/">
                            <span class="help-block" ng-show="basic.user_digi_email.$error.required && basic.user_digi_email.$touched">Email is required</span>
                             <span class="help-block" ng-show="basic.user_digi_email.$error.pattern && basic.user_digi_email.$touched">Please Enter Valid Email</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row ">
                      <div class="col-sm-12">
                        <div class="box box-success">
                          <div class="box-header">
                              <h3 class="box-title"> Complete Address</h3>
                          </div>
                          <div class="box-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-2" ng-class="{'has-error':basic.flat_door_block.$touched && basic.flat_door_block.$invalid}">
                                        <input type="text" class="form-control" placeholder="Flat/Door/Plot No " name="flat_door_block" ng-model="vle.plotNo" ng-pattern="/^[A-Za-z\d\s]+$/">
                                          <span class="help-block" ng-show="basic.flat_door_block.$error.required && basic.flat_door_block.$touched">This Field Can not be empty</span>
                                          <span class="help-block" ng-show="basic.flat_door_block.$error.pattern && basic.flat_door_block.$touched">Enter a valid Plot No.(Only Alphabets and Numerics allowed)</span>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-2" ng-class="{'has-error':basic.road_street.$touched && basic.road_street.$invalid}">
                                        <input type="text" class="form-control" placeholder="Road/Lane/Building" name="road_street" ng-model="vle.lane" ng-pattern="/^[A-Za-z\d\s]+$/" >
                                          <span class="help-block" ng-show="basic.road_street.$error.required && basic.road_street.$touched">Please Enter this field</span>
                                          <span class="help-block" ng-show="basic.road_street.$error.pattern && basic.road_street.$touched">Enter a valid Lane(Only Alphabets allowed)</span>
                                    </div>
                                  <div class="col-xs-12 col-sm-6 col-md-2" ng-class="{'has-error':basic.At.$touched && basic.At.$invalid}">
                                      <input type="text" class="form-control" placeholder="At" name="At" ng-model="vle.at"  ng-pattern="/^[A-Za-z\s]+$/">
                                          <span class="help-block" ng-show="basic.At.$error.required && basic.At.$touched">Please Enter This field</span>
                                          <span class="help-block" ng-show="basic.At.$error.pattern && basic.At.$touched">Enter a valid At(Only Alphabets allowed)</span>
                                  </div>
                                  <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':basic.Po.$touched && basic.Po.$invalid}">
                                    <input type="text" class="form-control" placeholder="PO" name="Po" ng-model="vle.po" ng-pattern="/^[A-Za-z\s]+$/">
                                    <span class="help-block" ng-show="basic.Po.$error.required && basic.Po.$touched">Please Enter This field</span>
                                    <span class="help-block" ng-show="basic.Po.$error.pattern && basic.Po.$touched">Enter a valid At(Only Alphabets allowed)</span>
                                  </div>
                                  <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':basic.local_city.$touched && basic.local_city.$invalid}">
                                    <input type="text" class="form-control" placeholder="Locality/City" name="local_city" ng-model="vle.city"  ng-pattern="/^[A-Za-z\s]+$/">
                                      <span class="help-block" ng-show="basic.local_city.$error.required && basic.local_city.$touched">Please Enter City</span>
                                      <span class="help-block" ng-show="basic.local_city.$error.pattern && basic.local_city.$touched">Enter a valid City(Only Alphabets allowed)</span>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':basic.dist.$touched && basic.dist.$invalid}">
                                    <input type="text" class="form-control" placeholder="District" name="dist" ng-model="vle.dist"  ng-pattern="/^[A-Za-z\s]+$/">
                                      <span class="help-block" ng-show="basic.dist.$error.required && basic.dist.$touched">Please Enter District</span>
                                      <span class="help-block" ng-show="basic.dist.$error.pattern && basic.dist.$touched">Enter a valid District(Only Alphabets allowed)</span>
                                  </div>
                                  <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':basic.country.$touched && basic.country.$invalid}">
                                      <input type="text" class="form-control" placeholder="Country" name="country" ng-model="vle.country"  ng-pattern="/^[A-Za-z]+$/">
                                      <span class="help-block" ng-show="basic.country.$error.required && basic.country.$touched">Please Enter Country</span>
                                      <span class="help-block" ng-show="basic.country.$error.pattern && basic.country.$touched">Country name is invalid(Only Alphabets allowed)</span>
                                  </div>
                                  <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':basic.state.$touched && basic.state.$invalid}">
                                      <input type="text" class="form-control" placeholder="State" name="state" ng-model="vle.state"  ng-pattern="/^[A-Za-z\s]+$/">
                                      <span class="help-block" ng-show="basic.state.$error.required && basic.state.$touched">Please Enter State</span>
                                      <span class="help-block" ng-show="basic.state.$error.pattern && basic.state.$touched">State name is invalid(Only Alphabets allowed)</span>
                                  </div>
                                  <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':basic.pin.$touched && basic.pin.$invalid}">
                                    <input type="text" class="form-control" placeholder="xxxxxx" name="pin" ng-model="vle.pin" ui-mask="999999" >
                                    <span class="help-block" ng-show="basic.pin.$error.required && basic.pin.$touched">Please Enter Pin</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="box box-success">
                              <div class="box-header">
                                  <h3 class="box-title">Educational qualification of VLE</h3>
                              </div>
                              <div class="box-body">
                                <div class="row">
                                  <div class="col-xs-12 col-sm-6 col-md-12">
                                      <label for="Matriculation" class="col-sm-2 control-label">Matriculation:</label>
                                      <div class="col-xs-12 col-sm-6 col-md-2" ng-class="{'has-error':basic.matric_board_name.$touched && basic.matric_board_name.$invalid}">
                                        <input type="text" class="form-control" placeholder="Board" name="matric_board_name" ng-model="vle.matricBoard" ng-pattern="/^[A-Za-z]+$/">
                                            <!-- <span class="help-block" ng-show="basic.bank_name.$error.required && basic.bank_name.$touched">Bank name is required</span> -->
                                            <span class="help-block" ng-show="basic.matric_board_name.$error.pattern && basic.matric_board_name.$touched">Enter a valid board name(Only Alphabets allowed)</span>
                                      </div>
                                      <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':basic.matric_institution_name.$touched && basic.matric_institution_name.$invalid}">
                                          <input type="text" class="form-control" placeholder="Institution Name " name="matric_institution_name" ng-model="vle.matricInstitute" ng-pattern="/^[A-Za-z\s]+$/">
                                        <!-- <span class="help-block" ng-show="basic.bank_branch.$error.required && basic.bank_branch.$touched">Branch name is required</span> -->
                                        <span class="help-block" ng-show="basic.matric_institution_name.$error.pattern && basic.matric_institution_name.$touched">Enter a valid institution name(Only Alphabets allowed)</span>
                                      </div>
                                      <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':basic.matric_passout.$touched && basic.matric_passout.$invalid}">
                                          <input type="text" class="form-control" placeholder="year of passing" name="matric_passout" ng-model="vle.matricPassout"  >
                                          <!-- <span class="help-block" ng-show="basic.comp_bank_acct.$error.required && basic.comp_bank_acct.$touched">Acccount type is required</span> -->
                                          <!-- <span class="help-block" ng-show="basic.comp_bank_acct.$error.pattern && basic.comp_bank_acct.$touched">Enter a valid Account Type(Numeric not allowed)</span> -->
                                      </div>
                                      <div class="col-xs-12 col-sm-6 col-md-2" ng-class="{'has-error':basic.matric_percentage.$touched && basic.matric_percentage.$invalid}">
                                          <input type="text" class="form-control" placeholder="Percentage" name="matric_percentage" ng-model="vle.matricPercent" >
                                             <!-- <span class="help-block" ng-show="basic.comp_bank_accNo.$error.required && basic.comp_bank_accNo.$touched">Acccount no is required</span> -->
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-12">
                                      <label for="Intermediate" class="col-sm-2 control-label">Intermediate:</label>
                                        <div class="col-xs-12 col-sm-6 col-md-2" ng-class="{'has-error':basic.inter_board_name.$touched && basic.inter_board_name.$invalid}">
                                          <input type="text" class="form-control" placeholder="Intermediate Board" name="inter_board_name" ng-model="vle.interBoard" ng-pattern="/^[A-Za-z]+$/">
                                              <!-- <span class="help-block" ng-show="basic.bank_name.$error.required && basic.bank_name.$touched">Bank name is required</span> -->
                                              <span class="help-block" ng-show="basic.inter_board_name.$error.pattern && basic.inter_board_name.$touched">Enter a valid board name(Only Alphabets allowed)</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':basic.inter_institution_name.$touched && basic.inter_institution_name.$invalid}">
                                            <input type="text" class="form-control" placeholder="Institution Name " name="inter_institution_name" ng-model="vle.interInstitute" ng-pattern="/^[A-Za-z\s]+$/">
                                            <!-- <span class="help-block" ng-show="basic.bank_branch.$error.required && basic.bank_branch.$touched">Branch name is required</span> -->
                                            <span class="help-block" ng-show="basic.inter_institution_name.$error.pattern && basic.inter_institution_name.$touched">Enter a valid institution name(Numeric not allowed)</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':basic.inter_passout.$touched && basic.inter_passout.$invalid}">
                                            <input type="text" class="form-control" placeholder="year of passing" name="inter_passout" ng-model="vle.interPassout"  >
                                            <!-- <span class="help-block" ng-show="basic.comp_bank_acct.$error.required && basic.comp_bank_acct.$touched">Acccount type is required</span> -->
                                            <!-- <span class="help-block" ng-show="basic.comp_bank_acct.$error.pattern && basic.comp_bank_acct.$touched">Enter a valid Account Type(Numeric not allowed)</span> -->
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-2" ng-class="{'has-error':basic.inter_percentage.$touched && basic.inter_percentage.$invalid}">
                                          <input type="text"  class="form-control" placeholder="Percentage" name="inter_percentage" ng-model="vle.interPercent" >
                                          <!-- <span class="help-block" ng-show="basic.comp_bank_accNo.$error.required && basic.comp_bank_accNo.$touched">Acccount no is required</span> -->
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-xs-12 col-sm-6 col-md-12">
                                        <label for="Intermediate" class="col-sm-2 control-label">Graduation:</label>
                                          <div class="col-xs-12 col-sm-6 col-md-2" ng-class="{'has-error':basic.grad_board_name.$touched && basic.grad_board_name.$invalid}">
                                              <input type="text" class="form-control" placeholder="Graduation Board" name="grad_board_name" ng-model="vle.gradBoard" ng-pattern="/^[A-Za-z]+$/">
                                                <!-- <span class="help-block" ng-show="basic.bank_name.$error.required && basic.bank_name.$touched">Bank name is required</span> -->
                                                <span class="help-block" ng-show="basic.inter_board_name.$error.pattern && basic.inter_board_name.$touched">Enter a valid board name(Numeric not allowed)</span>
                                          </div>
                                          <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':basic.grad_institution_name.$touched && basic.grad_institution_name.$invalid}">
                                            <input type="text" class="form-control" placeholder="Institution Name " name="grad_institution_name" ng-model="vle.gradInstitute" ng-pattern="/^[A-Za-z\s]+$/">
                                            <!-- <span class="help-block" ng-show="basic.bank_branch.$error.required && basic.bank_branch.$touched">Branch name is required</span> -->
                                            <span class="help-block" ng-show="basic.grad_institution_name.$error.pattern && basic.grad_institution_name.$touched">Enter a valid institution name(Numeric not allowed)</span>
                                          </div>
                                          <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':basic.grad_passout.$touched && basic.grad_passout.$invalid}">
                                              <input type="text" class="form-control" placeholder="year of passing" name="grad_passout" ng-model="vle.gradPassout"  >
                                              <!-- <span class="help-block" ng-show="basic.comp_bank_acct.$error.required && basic.comp_bank_acct.$touched">Acccount type is required</span> -->
                                              <!-- <span class="help-block" ng-show="basic.comp_bank_acct.$error.pattern && basic.comp_bank_acct.$touched">Enter a valid Account Type(Numeric not allowed)</span> -->
                                          </div>
                                          <div class="col-xs-12 col-sm-6 col-md-2" ng-class="{'has-error':basic.grad_percentage.$touched && basic.grad_percentage.$invalid}">
                                              <input type="text"  class="form-control" placeholder="Percentage" name="grad_percentage" ng-model="vle.gradPercent" >
                                            <!-- <span class="help-block" ng-show="basic.comp_bank_accNo.$error.required && basic.comp_bank_accNo.$touched">Acccount no is required</span> -->
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-12">
                                          <label for="Intermediate" class="col-sm-2 control-label">Post Graduation:</label>
                                          <div class="col-xs-12 col-sm-6 col-md-2" ng-class="{'has-error':basic.pg_board_name.$touched && basic.pg_board_name.$invalid}">
                                              <input type="text" class="form-control" placeholder="PG Board" name="pg_board_name" ng-model="vle.pgBoard" ng-pattern="/^[A-Za-z]+$/">
                                                <!-- <span class="help-block" ng-show="basic.bank_name.$error.required && basic.bank_name.$touched">Bank name is required</span> -->
                                                <span class="help-block" ng-show="basic.pg_board_name.$error.pattern && basic.pg_board_name.$touched">Enter a valid board name(Numeric not allowed)</span>
                                          </div>
                                          <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':basic.pg_institution_name.$touched && basic.pg_institution_name.$invalid}">
                                            <input type="text" class="form-control" placeholder="Institution Name " name="pg_institution_name" ng-model="vle.pgInstitute" ng-pattern="/^[A-Za-z\s]+$/">
                                            <!-- <span class="help-block" ng-show="basic.bank_branch.$error.required && basic.bank_branch.$touched">Branch name is required</span> -->
                                            <span class="help-block" ng-show="basic.pg_institution_name.$error.pattern && basic.pg_institution_name.$touched">Enter a valid institution name(Numeric not allowed)</span>
                                          </div>
                                          <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':basic.pg_passout.$touched && basic.pg_passout.$invalid}">
                                              <input type="text" class="form-control" placeholder="year of passing" name="pg_passout" ng-model="vle.pgPassout"  >
                                              <!-- <span class="help-block" ng-show="basic.comp_bank_acct.$error.required && basic.comp_bank_acct.$touched">Acccount type is required</span> -->
                                              <!-- <span class="help-block" ng-show="basic.comp_bank_acct.$error.pattern && basic.comp_bank_acct.$touched">Enter a valid Account Type(Numeric not allowed)</span> -->
                                          </div>
                                          <div class="col-xs-12 col-sm-6 col-md-2" ng-class="{'has-error':basic.pg_percentage.$touched && basic.pg_percentage.$invalid}">
                                              <input type="text"  class="form-control" placeholder="Percentage" name="pg_percentage" ng-model="vle.pgPercent" >
                                            <!-- <span class="help-block" ng-show="basic.comp_bank_accNo.$error.required && basic.comp_bank_accNo.$touched">Acccount no is required</span> -->
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-12">
                                          <label for="Intermediate" class="col-sm-2 control-label">Others(if any):</label>
                                          <div class="col-xs-12 col-sm-6 col-md-10" ng-class="{'has-error':basic.other_qualfication.$touched && basic.other_qualfication.$invalid}">
                                            <textarea placeholder="Please enter other qualification details" name="other_qualfication"  class="form-control" ng-model="vle.otherQualification"></textarea>
                                            <!-- <span class="help-block" ng-show="basic.other_qualfication.$error.required && basic.other_qualfication.$touched">Please provide a valid reason</span> -->
                                          </div>
                                        </div>
                                      </div>
                                  </div>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                      <button type="submit" class="btn btn-default" ui-sref="homepage">Back</button>
                      <button type="submit"  ng-click="tabChange('OD')" class="btn btn-info pull-right">Next</button>

                    </div>
                  </div>
                </form>
                </div>
                <div class="tab-pane" id="OD" ng-class="{'active':active_tab == 'OD'}">
                  <form class="form-horizontal" name="other">
                  <div class="box box-info">
                    <div class="box-header with-border">
                      <h3 class="box-title">Please Enter Your Basic Details</h3>
                    </div>
                    <div class="box-body">
                      <div class="row">
                        <div class="col-xs-6">
                          <div class="form-group has-feedback" ng-class="{'has-error':other.cscBuildingArea.$touched && other.cscBuildingArea.$invalid}">
                        <label for="cscId" class="col-sm-4 control-label">Area of CSC building:</label>
                        <div class="col-sm-8">
                          <input type="text" name="cscBuildingArea" ng-model="vle.cscBuildingArea" class="form-control" placeholder="Area of CSC building(in sqft.)" >
                          <!-- <span class="help-block" ng-show="basic.cscLongitude.$error.required && basic.cscLongitude.$touched">Longitude of location of CSC is required</span> -->
                          <!-- <span class="help-block" ng-show="basic.vleName.$error.pattern && basic.vleName.$touched">Please Enter Valid VLE Name(Only Alphabets Allowed)</span> -->
                        </div>
                      </div>
                      <div class="form-group has-feedback" ng-class="{'has-error':other.personEngaged.$touched && other.personEngaged.$invalid}">
                        <label for="cscId" class="col-sm-4 control-label">No of persons engagged in CSC:</label>
                        <div class="col-sm-8">
                          <input type="text" name="personEngaged" ng-model="vle.personEngaged" class="form-control" placeholder="No of persons engagged in CSC" >
                          <!-- <span class="help-block" ng-show="basic.personEngaged.$error.required && basic.personEngaged.$touched">Longitude of location of CSC is required</span> -->
                          <!-- <span class="help-block" ng-show="basic.vleName.$error.pattern && basic.vleName.$touched">Please Enter Valid VLE Name(Only Alphabets Allowed)</span> -->
                        </div>
                      </div>
                      <div class="form-group m-l-20" ng-class="{'has-error':other.webcamera.$touched && other.webcamera.$invalid}">
                            <label for="uname" class="control-label col-xs-4 pull-left">Web Camera</label>
                              <div class="col-xs-8">
                                <select class="form-control" name="webcamera" ng-model="vle.webCamera">
                                  <option value=""><i class="fa fa-sort-desc">Web camera Available</i></option>
                                  <option value="Yes">Yes</option>
                                  <option value="No">No</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group m-l-20" ng-class="{'has-error':other.furniture_details.$touched && other.furniture_details.$invalid}">
                            <label for="uname" class="control-label col-xs-4 pull-left">Furniture Details</label>
                              <div class="col-xs-8">
                                <textarea placeholder="Please enter all furnitures details" name="furniture_details"  class="form-control" ng-model="vle.furnitureDetails"></textarea>
                              </div>
                            </div>
                            <div class="form-group has-feedback" ng-class="{'has-error':other.vsatBbDcNofn.$touched && other.vsatBbDcNofn.$invalid}">
                              <label for="cscId" class="col-sm-4 control-label">V-SAT/BB/DC/NOFN:</label>
                              <div class="col-sm-8">
                                <input type="text" name="vsatBbDcNofn" ng-model="vle.vsatBbDcNofn" class="form-control" placeholder="V-SAT/BB/DC/NOFN With No." >
                               <!--  <span class="help-block" ng-show="basic.vsatBbDcNofn.$error.required && basic.vsatBbDcNofn.$touched">Longitude of location of CSC is required</span> -->
                                <!-- <span class="help-block" ng-show="basic.vleName.$error.pattern && basic.vleName.$touched">Please Enter Valid VLE Name(Only Alphabets Allowed)</span> -->
                              </div>
                            </div>
                            <div class="form-group has-feedback" ng-class="{'has-error':other.pmgDishaId.$touched && other.pmgDishaId.$invalid}">
                              <label for="cscId" class="col-sm-4 control-label">PMGDISHA ID:</label>
                              <div class="col-sm-8">
                                <input type="text" name="pmgDishaId" ng-model="vle.pmgDishaId" class="form-control" placeholder="PMGDISHA ID No." required>
                                <span class="help-block" ng-show="other.pmgDishaId.$error.required && other.pmgDishaId.$touched">PMGDISHA ID is required</span>
                                <!-- <span class="help-block" ng-show="basic.vleName.$error.pattern && basic.vleName.$touched">Please Enter Valid VLE Name(Only Alphabets Allowed)</span> -->
                              </div>
                            </div>
                            <div class="form-group m-l-20" ng-class="{'has-error':other.kit.$touched && other.kit.$invalid}">
                              <label for="uname" class="control-label col-xs-4 pull-left">KIT</label>
                              <div class="col-xs-8">
                                <select class="form-control" name="kit" ng-model="vle.kit" required>
                                  <option value=""><i class="fa fa-sort-desc">KIT</i></option>
                                  <option value="Yes">Yes</option>
                                  <option value="No">No</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group m-l-20" ng-class="{'has-error':other.providingInsurance.$touched && other.providingInsurance.$invalid}">
                            <label for="uname" class="control-label col-xs-4 pull-left">Providing Insurance Services</label>
                              <div class="col-xs-8">
                                <select class="form-control" name="providingInsurance" ng-model="vle.providingInsurance" required>
                                  <option value=""><i class="fa fa-sort-desc">Providing Insurance services</i></option>
                                  <option value="Yes">Yes</option>
                                  <option value="No">No</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group p-l-20" ng-class="{'has-error':other.eWallet.$touched && other.eWallet.$invalid}">
                                <label for="uname" class="control-label col-xs-4 pull-left">Wheather e-wallet created:</label>
                              <div class="col-xs-8">
                                  <select class="form-control" name="eWallet" ng-model="vle.eWallet" required>
                                    <option value=""><i class="fa fa-sort-desc">Wheather e-wallet created</i></option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                  </select>
                              </div>
                          </div>
                          <div class="form-group has-feedback" ng-class="{'has-error':other.censusCode.$touched && other.censusCode.$invalid}">
                            <label for="cscId" class="col-sm-4 control-label">Village/Municipal Census code:</label>
                            <div class="col-sm-8">
                              <input type="text" name="censusCode" ng-model="vle.censusCode" class="form-control" placeholder="Village/Municipal Census code" required>
                              <span class="help-block" ng-show="other.censusCode.$error.required && other.censusCode.$touched">Village/Municipal Census code is required</span>
                              <!-- <span class="help-block" ng-show="basic.vleName.$error.pattern && basic.vleName.$touched">Please Enter Valid VLE Name(Only Alphabets Allowed)</span> -->
                            </div>
                          </div>
                          <div class="form-group has-feedback" ng-class="{'has-error':other.cscLattitude.$touched && other.cscLattitude.$invalid}">
                            <label for="cscId" class="col-sm-4 control-label">Lattitude of location of CSC:</label>
                            <div class="col-sm-8">
                              <input type="text" name="cscLattitude" ng-model="vle.cscLattitude" class="form-control" placeholder="Lattitude of location of CSC" required>
                              <span class="help-block" ng-show="other.cscLattitude.$error.required && other.cscLattitude.$touched">Lattitude of location of CSC is required</span>
                              <!-- <span class="help-block" ng-show="basic.vleName.$error.pattern && basic.vleName.$touched">Please Enter Valid VLE Name(Only Alphabets Allowed)</span> -->
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-6">
                          <div class="form-group m-l-20" ng-class="{'has-error':other.buildingOwnership.$touched && other.buildingOwnership.$invalid}">
                            <label for="uname" class="control-label col-xs-4 pull-left">CSC building type</label>
                              <div class="col-xs-8">
                                <select class="form-control" name="buildingOwnership" ng-model="vle.buildingOwnership" required>
                                  <option value=""><i class="fa fa-sort-desc">Select building type</i></option>
                                  <option value="Rented">Rented</option>
                                  <option value="Own">Own</option>
                                </select>
                              </div>
                          </div>
                          <div class="form-group has-feedback" ng-class="{'has-error':other.noOfLaptop.$touched && other.noOfLaptop.$invalid}">
                            <label for="cscId" class="col-sm-4 control-label">No of laptop/computers:</label>
                            <div class="col-sm-8">
                              <input type="text" name="noOfLaptop" ng-model="vle.noOfLaptop" class="form-control" placeholder="No of laptop/computers" required>
                              <span class="help-block" ng-show="other.noOfLaptop.$error.required && other.noOfLaptop.$touched">No of laptops required</span>
                              <!-- <span class="help-block" ng-show="basic.vleName.$error.pattern && basic.vleName.$touched">Please Enter Valid VLE Name(Only Alphabets Allowed)</span> -->
                            </div>
                        </div>
                      <div class="form-group has-feedback" ng-class="{'has-error':other.noOfPrinters.$touched && other.noOfPrinters.$invalid}">
                        <label for="cscId" class="col-sm-4 control-label">No of printers:</label>
                        <div class="col-sm-8">
                          <input type="text" name="noOfPrinters" ng-model="vle.noOfPrinters" class="form-control" placeholder="No of printers" required>
                          <span class="help-block" ng-show="other.noOfPrinters.$error.required && other.noOfPrinters.$touched">No of printers is required</span>
                          <!-- <span class="help-block" ng-show="basic.vleName.$error.pattern && basic.vleName.$touched">Please Enter Valid VLE Name(Only Alphabets Allowed)</span> -->
                        </div>
                      </div>
                      <div class="form-group m-l-20" ng-class="{'has-error':other.bioMetric.$touched && other.bioMetric.$invalid}">
                        <label for="uname" class="control-label col-xs-4 pull-left">Bio metric</label>
                          <div class="col-xs-8">
                            <select class="form-control" name="bioMetric" ng-model="vle.bioMetric" required>
                              <option value=""><i class="fa fa-sort-desc">Bio metric</i></option>
                              <option value="Yes">Yes</option>
                              <option value="No">No</option>
                            </select>
                          </div>
                      </div>
                      <div class="form-group m-l-20" ng-class="{'has-error':other.cmnBranding.$touched && other.cmnBranding.$invalid}">
                      <label for="uname" class="control-label col-xs-4 pull-left">Common Branding</label>
                        <div class="col-xs-8">
                          <select class="form-control" name="cmnBranding" ng-model="vle.commonBranding">
                            <option value=""><i class="fa fa-sort-desc">Common branding</i></option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group m-l-20" ng-class="{'has-error':other.powerBackUp.$touched && other.powerBackUp.$invalid}">
                      <label for="uname" class="control-label col-xs-4 pull-left">Power back-up</label>
                        <div class="col-xs-8">
                          <select class="form-control" name="powerBackUp" ng-model="vle.powerBackUp" required>
                            <option value=""><i class="fa fa-sort-desc">Power back-up</i></option>
                            <option value="Generator">Generator</option>
                            <option value="UPS">UPS</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group m-l-20" ng-class="{'has-error':other.tab.$touched && other.tab.$invalid}">
                      <label for="uname" class="control-label col-xs-4 pull-left">TAB</label>
                        <div class="col-xs-8">
                          <select class="form-control" name="tab" ng-model="vle.tab" required>
                            <option value=""><i class="fa fa-sort-desc">TAB</i></option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group m-l-20" ng-class="{'has-error':other.ProvidingEDistrictServices.$touched && other.ProvidingEDistrictServices.$invalid}">
                      <label for="uname" class="control-label col-xs-4 pull-left">Providing E-district services</label>
                        <div class="col-xs-8">
                          <select class="form-control" name="ProvidingEDistrictServices" ng-model="vle.ProvidingEDistrictServices" required>
                            <option value=""><i class="fa fa-sort-desc">Providing E-district services</i></option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group m-l-20" ng-class="{'has-error':other.cscLocation.$touched && other.cscLocation.$invalid}">
                      <label for="uname" class="control-label col-xs-4 pull-left">Location of CSC</label>
                        <div class="col-xs-8">
                          <select class="form-control" name="cscLocation" ng-model="vle.cscLocation" required>
                            <option value=""><i class="fa fa-sort-desc">Select Location of CSC</i></option>
                            <option value="Private">Private</option>
                            <option value="Panchayat Building">Panchayat Building</option>

                          </select>
                        </div>
                      </div>
                            <div class="form-group m-l-20" ng-class="{'has-error':other.ownership.$touched && other.ownership.$invalid}">
                            <label for="uname" class="control-label col-xs-4 pull-left">Ownership of CSC's</label>
                              <div class="col-xs-8">
                                <select class="form-control" name="ownership" ng-model="vle.ownership" required>
                                  <option value=""><i class="fa fa-sort-desc">Select Ownership type.</i></option>
                                  <option value="individual">Individual</option>
                                  <option value="partnership">Partnership</option>

                                </select>
                              </div>
                            </div>
                            <div class="form-group has-feedback" ng-class="{'has-error':other.cscLongitude.$touched && other.cscLongitude.$invalid}">
                              <label for="cscId" class="col-sm-4 control-label">Longitude of location of CSC:</label>
                              <div class="col-sm-8">
                                <input type="text" name="cscLongitude" ng-model="vle.cscLongitude" class="form-control" placeholder="cscLongitude of location of CSC" required>
                                <span class="help-block" ng-show="other.cscLongitude.$error.required && other.cscLongitude.$touched">Longitude of location of CSC is required</span>
                                <!-- <span class="help-block" ng-show="basic.vleName.$error.pattern && basic.vleName.$touched">Please Enter Valid VLE Name(Only Alphabets Allowed)</span> -->
                              </div>
                            </div>
                            <div class="form-group has-feedback" ng-class="{'has-error':other.pin.$touched && other.pin.$invalid}">
                              <label for="cscId" class="col-sm-4 control-label">Pincode of CSC:</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control" placeholder="xxxxxx" name="pin" ng-model="vle.cscPin" ui-mask="999999" >
                              <span class="help-block" ng-show="other.pin.$error.required && other.pin.$touched">Please Enter Pin</span>
                              </div>
                            </div>
                          </div>
                        </div>
                     </div>
                      <div class="box-footer">
                      <button type="submit" class="btn btn-default" ng-click="tabChange('BD')">Back</button>
                      <button type="submit"  ng-click="registerVle()" class="btn btn-info pull-right">Submit</button>

                    </div>
                  </div>
                </form>
                </div>
              </div>
            </div>
        </div>
     </div>
 </section>
