<header class="main-header" ng-init="getUserDetails()" ng-controller="Main_Controller" >
  <a ui-sref="dashboard" class="logo">
    <span class="logo-mini"><b>M</b><b>S</b><b>I</b></span>
    <span class="logo-lg">MSI</span>
  </a>
  <nav class="navbar navbar-static-top">
    <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
         <li class="contact-us pull-left" ng-if="!is_loggedin" ui-sref="login">
            <span class="">Admin Login</span>
        </li>
        <li class="contact-us pull-left" ng-if="!is_loggedin" ui-sref="vle">
           <span class="">VLE Registration</span>
        </li>
        <li class="dropdown user user-menu" ng-if="is_loggedin">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <span class="profile-pic-name">{{userDetails.username| getShortName}}</span>
            <span class="hidden-xs">{{userDetails.username}}</span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              <span class="profile-pic-name m-t-6">{{userDetails.username | getShortName}}</span>
                <p>
                 {{userDetails.username}}
                  <!-- <small>Member since Nov. 2012</small> -->
                </p>
            </li>
            <li class="user-footer">
              <div class="pull-left">
                <button type="button" href="" ng-click="signOut()" class="btn btn-primary" style="width:154px;">
               Sign out</button>
              </div>
            </li>
            <li class="user-footer">
              <div class="pull-left">
                <button type="button" href="" ui-sref="user-profile" class="btn btn-primary" style="width:154px;">
               Profile</button>
               
              </div>
            </li>
            <li class="user-footer">
              <div class="pull-left">
                <button type="button" href="" ui-sref="change-password" class="btn btn-primary" style="width:154px;">
               Change Password</button>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
