<aside class="main-sidebar"  ng-init="getUserDetails()" ng-controller="Main_Controller">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
         <span class="profile-pic-name m-t-6 color-white">{{userDetails.username | getShortName}}</span>
      </div>
      <div class="pull-left info">
          <p>{{userDetails.username}}</p>
          <a href="" ui-sref="user-profile" ><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <ul class="sidebar-menu">
      <li class="header">OPTIONS</li>
      <li class="treeview" ng-class="{'active':stateName == 'dashboard'}" ng-hide="checkClient()">
        <a href="" ui-sref="dashboard">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
		  </li>
      <li class="treeview" ng-class="{'active':stateName == 'district'}">
        <a href="" ui-sref="district">
          <i class="fa fa-dashboard"></i> <span>District List</span>
        </a>
		  </li>
      <li class="treeview" ng-class="{'active':stateName == 'gp'}" ng-hide="checkClient()">
        <a href="" ui-sref="gp">
          <i class="fa fa-dashboard"></i> <span>Gp List</span>
        </a>
		  </li>
      <li class="treeview" ng-class="{'active':stateName == 'block'}" ng-hide="checkClient()">
        <a href="" ui-sref="block">
          <i class="fa fa-dashboard"></i> <span>Block List</span>
        </a>
		  </li>
      <li class="treeview" ng-class="{'active':stateName == 'vle-list'}">
        <a href="" ui-sref="vle-list">
          <i class="fa fa-user"></i> <span>VLE list</span>
        </a>
      </li>
    </ul>
  </section>
</aside>
